enumerate()

In [2]:
# we use it for index number and value
fruits = ["apple", "banana", "cherry"]
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 apple
1 banana
2 cherry

 zip()

In [16]:
#it is use two combine two or more
names =["ali" , "sara"]
ages =[20,25]
for name ,age in zip(names, ages):
    print (name, ages)

ali [20, 25]
sara [20, 25]

map()

In [2]:
# for example we have a list of number and we want to double it
nums = [1 ,2, 3]
squared = list(map(lambda x: x**2, nums))
print (squared)

[1, 4, 9]

filter()

In [ ]:
# it fillter the values
nums = [1, 2, 3, 4]
even_nums= list(filter(lambda x: x % 2 == 0, nums))
print(even_nums)

[2, 4]

sorted

In [ ]:
# it write fist short number than long number
nums = [31, 111, 4]
print(sorted(nums))

[4, 31, 111]

reversed()

In [14]:
numberss=[1 ,2 ,3, 4]
print(list(reversed(numberss)))

[4, 3, 2, 1]

range()

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

 any()

In [19]:
# true or false
numbers = [-5, -2, 3, -1]

result = any(num > 0 for num in numbers)
print(result)

True

all()

In [21]:
# return true of all item or truley
print(all([1, 2, 3]))  #true
print(all([1, 0, 3]))

True
False

type()

In [22]:
#return the type of an object
print(type(5))

<class 'int'>

len()

In [23]:
print(len([1, 2, 3]))

3

sum()

In [25]:
print(sum([1, 2, 3]))

6

 max()

In [26]:
# return bigest value
print(max([1, 9, 3]))

9

 min()

In [29]:
#return minimum vsalue
print(min([1 ,2 ,3]))

1

abs()

In [32]:
#return absolute (positive value)
print(abs(-5))

5

round()

In [35]:
print(round(5.3316, 2))

5.33

pow()

In [36]:
print(pow(2, 3))

8